streamlit
langchain-core
nltk
vaderSentiment
text2emotion
chromadb
sentence-transformers
plotly
python-dotenv
groq
google-generativeai
pandas
transformers
torch
reportlab
openai-whisper
sounddevice
soundfile
numpy